@tailwind base;


h1, h2, h3, h4, h5, h6 {
@apply font-display;
}
h1{
@apply text-2xl sm:text-3xl md:text-4xl mb-4;
}
h2 {
@apply text-xl sm:text-2xl md:text-3xl mb-4;
}
h3 {
@apply text-lg sm:text-xl md:text-2xl mb-2;
}
h4 {
@apply text-xl;
}
    
button {
    @apply font-display;
}

body {
    @apply font-body text-gray-200; 
}

html {
    scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 1em;
}
  
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
  
*::-webkit-scrollbar-thumb {
  @apply bg-off-200;
}

#vgt-table {
    @apply border-2 p-3 text-xl;
}

#vgt-table tr{
  @apply hover:bg-gray-700 cursor-pointer;
}

#vgt-table tr td{
  @apply p-2;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@tailwind components;
@tailwind utilities;
